<div class="container">
  <h1>Top 5: 5 Stars Restaurants</h1>
  <%= link_to "top rated restaurants", restaurants_path %>
  <div id="restaurants">
    <% @restaurants.each do |restaurant| %>
      <%= render restaurant %>
      <p>
        <%= link_to "Show this restaurant", restaurant %>
      </p>
    <% end %>
  </div>
</div>
